/* You can add global styles to this file, and also import other style files */
.parent {
    background: #ddd;
    border: 1px solid red;
    padding: 20px;
    min-height: 300px;    
}

.child {
    background: #efefef;
    border: 1px solid blue;
    padding: 20px;
    min-height: 300px;
    margin-top:20px;
}